

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */
body {
  padding-top: 0px;
  padding-bottom: 0;
  font-family: helvetica-light, helvetica;
}
.c {
  display: block;
  height: 23px;
  clear: both;
  float: none;
  width: 100%;
}

/* Top */
.page-top {
  background: #6cbdb7;
  height: 31px;
  text-align: right;
}
.page-top a {
  color: #0c4a49;
  line-height: 31px;
  margin: 10px;
}
.page-top a.email {
  font-weight: bold;
}
.page-top a.tel {
  font-weight: bold;
}

/* Nav */
.navbar {
  margin-bottom: 0;
}
.navbar-nav>li>a {
  line-height: 72px;
  padding: 0 20px;
  color: #838383;
  font-size: 18px;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #d9fbfa;
  color: #0c5b55;
}
.nav .last {
  margin-right: 0;
  padding-right: 0;
}
.navbar-nav {
  float: right;
  margin-right: -20px;
}
.navbar-header {
  min-height: 73px;
}
.navbar-toggle {
  background: #6cbdb7;
  margin-top: 18px;
}
.navbar-toggle .icon-bar {
  background: #fff;
}

/* Hero */
.page-hero {
  background: #223e4c;
  color: #FFF;
  margin-bottom: 0;
}

/* Who We Are */
.page-who {
  background: #ffffff;
  padding-bottom: 70px;
}
.page-who .c1 {
  background: #cad8e3;
}
.page-who .c2 {
  background: #e1ecf2;
}
.page-who h1 {
  color: #51aca7;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page-who p {
  color: #747474;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

/* Who */
.page-what {
  background: #071a1e;
}

/* Quotes */
.page-quotes {
  background: #49b8b2;
}
.page-quotes .c1 {
  background: #228580;
}
.page-quotes .c2 {
  background: #24958f;
}
.page-quotes hr {
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  height: 5px;
}
.page-quotes .quote {
  padding-bottom: 20px;
}
.page-quotes .quote h1 {
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page-quotes .quote p {
  color: #093939;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
}
.page-quotes .quote span {
  color: #fff;
  font-size: 22px;
  text-align: center;
  display: block;
}
.page-quotes .quotes {
  padding: 30px 0;
}
.page-quotes .quotes .q {
  margin-bottom: 30px;
}
.page-quotes .quotes p {
  background: #223e4c;
  color: #fff;
  padding: 30px 30px;
  font-size: 18px;
  line-height: 24px;
  min-height: 200px;
  margin-bottom: 0;
}
.page-quotes .quotes span {
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
}
.page-quotes .quotes .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #223e4c;
  margin-left: 20px;
}

/* Contact */
.page-contact {
  background: #fff;
  padding-bottom: 50px;
}
.page-contact .c1 {
  background: #cad8e3;
}
.page-contact .c2 {
  background: #e1ecf2;
}
.page-contact h1 {
  color: #51aca7;
  text-align: center;
  margin: 50px 0;
}
.page-contact p {
  color: #747474;
  font-size: 22px;
  line-height: 30px;
}
.page-contact a {
  color: #43b8b2;
}
.page-contact a:hover {
  color: #36827e;
}
.page-contact img {
  margin-bottom: 30px;
}

/* Footer */
.page-footer {
  background: #262626;
  min-height: 100px;
  color: #808080;
  text-align: center;
  font-size: 18px;
}
.page-footer p {
  margin: 0;
  line-height: 100px;
}
.page-footer span {
  text-transform: uppercase;
}



@media (max-width: 768px){
  .navbar-nav {
    width: 100%;
    margin-right: 0;
    background: #6cbdb7;
  }
  .navbar-nav>li>a {
    color: #2a4654;
  }
  .navbar img {
    width: 250px;
  }
}


