

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */
body {
  padding-top: 0px;
  padding-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}
.c {
  display: block;
  height: 23px;
  clear: both;
  float: none;
  width: 100%;
}

/* Top */
.page-top {
  background: #6cbdb7;
  height: 31px;
  text-align: right;
}
.page-top a {
  color: #0c4a49;
  line-height: 31px;
  margin: 10px;
}
.page-top a.email {
  font-weight: bold;
}
.page-top a.tel {
  font-weight: bold;
}

/* Nav */
.navbar {
  margin-bottom: 0;
}
.navbar .the-nav {
  opacity: .9;
  background: #fff;
}
.navbar-nav>li>a {
  line-height: 72px;
  padding: 0 20px;
  color: #838383;
  font-size: 18px;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #d9fbfa;
  color: #0c5b55;
}
.nav .last {
  margin-right: 0;
  padding-right: 0;
}
.navbar-nav {
  float: right;
  margin-right: -20px;
}
.navbar-header {
  min-height: 73px;
}
.navbar-toggle {
  background: #6cbdb7;
  margin-top: 18px;
}
.navbar-toggle .icon-bar {
  background: #fff;
}

/* Hero */
.page-hero {
  background: url(../img/hands.high.jpg) no-repeat scroll 170px 0px #223e4c;
  color: #FFF;
  margin-bottom: 0;
  padding: 120px 0;
  background-size: cover;
  margin-top: 30px;
}
.page-hero h1 {
  font-size: 45px;
}
.page-hero h2 {
  font-size: 32px;
  color: #6bbdb9;
  margin-top: 10px;
}
.page-hero hr {
  border-top: 1px solid #607382;
  margin: 40px 0;
}
.page-hero a.get-in-touch {
  background: #d1564e;
  background-image: none;
  border: medium none;
  padding: 12px 25px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.page-hero a.get-in-touch:hover {
  background: #ee7f77;
}
.page-hero a.who-we-are {
  background: #44768f;
  background-image: none;
  border: medium none;
  padding: 12px 25px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.page-hero a.who-we-are:hover {
  background: #699db7;
}

/* Who We Are */
.page-who {
  background: #ffffff;
  padding-bottom: 70px;
}
.page-who .c1 {
  background: #cad8e3;
}
.page-who .c2 {
  background: #e1ecf2;
}
.page-who h1 {
  color: #51aca7;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page-who p {
  color: #747474;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

/* Who */
.page-what {
  background: #134048;
  overflow: hidden;
}
.page-what .c1 {
  background: #082d33;
}
.page-what .c2 {
  background: #0d3941;
}
.page-what .what {
  width: 33.33%;
  float: left;
  height: 350px;
  border: 1px solid #47545a;
  font-size: 18px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: url(../img/what-states.jpg) no-repeat scroll 0 0 transparent;
}
.page-what h1 {
  color: #51aca7;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page-what .container p {
  color: #FFF;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 70px;
}
.page-what .text {
  color: #fff;
  line-height: 98px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 22px;
}
.page-what .what:hover {}
.page-what .what:hover .text {
  background: none no-repeat scroll 0 0 rgba(255,255,255,.8);
  color: #223e4c;
}
.page-what .what.promo .text {
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 40px;
  padding: 90px 30px;
}
.page-what .pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -1000px;
  z-index: 9999999999;
  left: 0;
  border: 4px solid #fff;
  overflow: hidden;
  visibility: hidden;
  cursor: default;
}
.page-what .pop .img {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  background: url(../img/m1.jpg) no-repeat scroll center center #025565;
  background-size: contain;
}
.page-what .pop .body {
  background: #025565;
  width: 50%;
  float: left;
  height: 100%;
  padding: 30px;
}
.page-what .pop .body h3 {
  text-align: left;
  color: #48b7b1;
  font-size: 40px;
  margin-bottom: 25px;
}
.page-what .pop .body ul {
  list-style-image: none;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.page-what .pop .body ul li {
  color: #fff;
  font-size: 21px;
  line-height: 32px;
  background: rgba(255,255,255,.1);
  margin: 5px 0;
  padding: 5px;
}
.page-what .pop .close {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 20px;
  opacity: .7;
  top: 20px;
  cursor: pointer;
  line-height: 55px;
  color: #53c0f2;
  text-shadow: 0 0 transparent;
  font-size: 50px;
  border: 1px solid #53c0f2;
  border-radius: 30px;
}
.page-what .pop .close:hover {
  opacity: 1;
}
.page-what .pop .img img {
  height: 100%;
}
.page-what .pop.active {
  visibility: visible;
}

.page-what .what.caregiver {
  background-position: -2px -2px;
}
.page-what .what.hha {
  background-position: -650px -2px;
}
.page-what .what.cna {
  background-position: -1350px -2px;
}
.page-what .what.lvn {
  background-position: -1972px -2px;
}
.page-what .what.rn {
  background-position: -2622px -2px;
}
.page-what .what.promo {
  background-position: -3282px -2px;
}

.page-what .what.caregiver:hover {
  background-position: -2px -350px;
}
.page-what .what.hha:hover {
  background-position: -650px -350px;
}
.page-what .what.cna:hover {
  background-position: -1350px -350px;
}
.page-what .what.lvn:hover {
  background-position: -1972px -350px;
}
.page-what .what.rn:hover {
  background-position: -2622px -351px;
}
.page-what .what.promo:hover {
  background-position: -3282px -350px;
}

.page-what .what.caregiver .pop .body {
  background: #1d4b60;
}
.page-what .what.caregiver .pop .body h3 {
  color: #53c0f2;
}
.page-what .what.caregiver .pop .close {
  color: #53c0f2;
  border: 1px solid #53c0f2;
}

.page-what .what.hha .pop .body {
  background: #078c89;
}
.page-what .what.hha .pop .body h3 {
  color: #56edea;
}
.page-what .what.hha .pop .close {
  color: #56edea;
  border: 1px solid #56edea;
}

.page-what .what.cna .pop .body {
  background: #024b59;
}
.page-what .what.cna .pop .body h3 {
  color: #43d0eb;
}
.page-what .what.cna .pop .close {
  color: #43d0eb;
  border: 1px solid #43d0eb;
}

.page-what .what.lvn .pop .body {
  background: #13705d;
}
.page-what .what.lvn .pop .body h3 {
  color: #4cedcc;
}
.page-what .what.lvn .pop .close {
  color: #4cedcc;
  border: 1px solid #4cedcc;
}

.page-what .what.rn .pop .body {
  background: #1e7a8d;
}
.page-what .what.rn .pop .body h3 {
  color: #51d3ee;
}
.page-what .what.rn .pop .close {
  color: #51d3ee;
  border: 1px solid #51d3ee;
}

.page-what .what.promo .pop .body {
  background: #a37b77;
}
.page-what .what.promo .pop .body h3 {
  color: #704641;
}
.page-what .what.promo .pop .close {
  color: #704641;
  border: 1px solid #704641;
}

.page-what .what.caregiver .pop .img {
  background: url(../img/me1.jpg) no-repeat scroll center center #1d4b60;
}
.page-what .what.hha .pop .img {
  background: url(../img/me2.jpg) no-repeat scroll center center #078c89;
}
.page-what .what.cna .pop .img {
  background: url(../img/me3.jpg) no-repeat scroll center center #024b59;
}
.page-what .what.lvn .pop .img {
  background: url(../img/me4.jpg) no-repeat scroll center center #13705d;
}
.page-what .what.rn .pop .img {
  background: url(../img/me5.jpg) no-repeat scroll center center #1e7a8d;
}
.page-what .what.promo .pop .img {
  background: url(../img/mi6.jpg) no-repeat scroll center center #a37b77;
}

/* Quotes */
.page-quotes {
  background: #49b8b2;
}
.page-quotes .c1 {
  background: #228580;
}
.page-quotes .c2 {
  background: #24958f;
}
.page-quotes hr {
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  height: 5px;
}
.page-quotes .quote {
  padding-bottom: 20px;
}
.page-quotes .quote h1 {
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.page-quotes .quote p {
  color: #093939;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
}
.page-quotes .quote span {
  color: #fff;
  font-size: 22px;
  text-align: center;
  display: block;
}
.page-quotes .quotes {
  padding: 30px 0;
}
.page-quotes .quotes .q {
  margin-bottom: 30px;
}
.page-quotes .quotes p {
  background: #223e4c;
  color: #fff;
  padding: 30px 30px;
  font-size: 18px;
  line-height: 24px;
  min-height: 200px;
  margin-bottom: 0;
}
.page-quotes .quotes span {
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
}
.page-quotes .quotes .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #223e4c;
  margin-left: 20px;
}

/* Contact */
.page-contact {
  background: #fff;
  padding-bottom: 50px;
}
.page-contact .c1 {
  background: #cad8e3;
}
.page-contact .c2 {
  background: #e1ecf2;
}
.page-contact h1 {
  color: #51aca7;
  text-align: center;
  margin: 50px 0;
}
.page-contact p {
  color: #747474;
  font-size: 22px;
  line-height: 30px;
}
.page-contact a {
  color: #43b8b2;
}
.page-contact a:hover {
  color: #36827e;
}
.page-contact img {
  margin-bottom: 30px;
}

/* Footer */
.page-footer {
  background: #262626;
  min-height: 100px;
  color: #808080;
  text-align: center;
  font-size: 18px;
}
.page-footer p {
  margin: 0;
  line-height: 100px;
}
.page-footer span {
  text-transform: uppercase;
}

.container-long {
  overflow: hidden;
  max-width: 1670px;
  margin: 0 auto;
}

@media (max-width: 1050px){
  .page-what .text {
    line-height: 70px;
    font-size: 19px;
  }
}

@media (max-width: 860px){
  .page-what .text {
    line-height: 70px;
    font-size: 16px;
  }
}

@media (max-width: 768px){
  .navbar-nav {
    width: 100%;
    margin-right: 0;
    background: #6cbdb7;
  }
  .navbar-nav>li>a {
    color: #2a4654;
  }
  .navbar img {
    width: 250px;
  }
  .page-what .what {
    float: left;
    width: 50%;
    height: 280px;
  }
  .page-what .text {
    line-height: 70px;
    font-size: 18px;
  }
  .page-what .what .pop .img {
    display: none;
  }
  .page-what .what .pop .body {
    float: none;
    width: 100%;
  }
}

@media (max-width: 570px){
  .page-what .what {
    float: none;
    width: 100%;
    height: 280px;
  }
  .page-footer p {
    font-size: 14px;
  }
}
